#container {
    height: 2.5rem !important;
    margin-top: 0.5rem;
    width: 100%;
}
.charts-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#container1,#container2,#container3,#container4{
    width: 50%;
    height: 1.6rem!important;
}
.icon-wrap{
    width: 100%;
    height: 0.4rem;
    position: relative;
    background: #191970;
}
.icon{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(180deg);
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(180deg);}
    to {-webkit-transform: rotate(360deg);}
}
.rotation{
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear ;
    -moz-animation: rotation 1s linear ;
    -webkit-animation: rotation 1s linear ;
    -o-animation: rotation 1s linear ;
}
@-webkit-keyframes rotation2{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(180deg);}
}
.rotation2{
    -webkit-transform: rotate(-180deg);
    animation: rotation2 1s linear ;
    -moz-animation: rotation2 1s linear ;
    -webkit-animation: rotation2 1s linear ;
    -o-animation: rotation2 1s linear ;
}
.table-wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 2.9rem;
    left: 0;
    z-index: 10;
    background: #fff;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 0.4rem;
    padding: 0.05rem 0.07rem 0;
    box-sizing: border-box;

}
.search li {
    display: flex;
    flex-direction: row;
    font-size: 0.1rem;
}
.search li label{
    line-height: 0.3rem;
}
.search li select{
    width: 0.6rem;
    height: 0.3rem;
    line-height: 0.3rem;
    margin-right:0.03rem;
}
select option{
    width: 100%;
    height: 0.24rem;
}
table{
    margin-top: 0.07rem;
    font-size: 0.12rem;
    width: 100%;
    border-collapse: collapse;
}
table,table tr th, table tr td {font-weight: 100; border:1px solid #dedede; }
table tr th, table tr td{
    height: 0.3rem;
}
table tr:nth-child(2n-1) {
    background: #eee ;
}
table thead tr{
    background: #fff!important;
}
@-webkit-keyframes slide{
    from{ translate(0,0)}
    to{translate(0,3.2rem)}
}
.slide{
    transform: translate(0, 3.2rem);
    -webkit-transform: translate(0, 3.2rem);
    -moz-transform: translate(0, 3.2rem);
    -o-transform: translate(0, 3.2rem);
    -ms-transform: translate(0, 3.2rem);
    animation: slide 1s linear ;
    -webkit-animation: slide 1s linear ;


}