<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>详情</title>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/mint-ui.css"/>
    <link rel="stylesheet" href="../css/detail.css"/>
    <script src="../js/rem.js" type="text/javascript"></script>
</head>
<body>
<div id="app">
    <mt-header fixed :title="pageItem[type].name">
        <router-link to="/" slot="left">
            <mt-button class="menu-icon" @click="leftBox=true" ></mt-button>
        </router-link>
    </mt-header>
    <div class="charts-wrap mt50" style="margin-bottom: 0;">
        <div id="container" ></div>
    </div>
    <ul class="table2-wrap">
        <div class="table-title">交通流量分析详情</div>
        <ul class="search">
            <li>
                <label>管理单位：</label>
                <input @blur="handleSearch" placeholder="" v-model="management"/>
            </li>
            <li>
                <label>路线名称：</label>
                <input  @blur="handleSearch" placeholder="" v-model="segment"/>
            </li>
            <li>
                <label>路段：</label>
                <input  @blur="handleSearch" placeholder="" v-model="roadName"/>
            </li>
            <li>
                <label>年份：</label>
                <input  @blur="handleSearch" placeholder="" v-model="year"/>
            </li>
        </ul>
        </ul>
        <!--<div id="wrapper" ref="wrapper" :style="{height: wrapperHeight + 'px';margin-bottom: 0.5rem;}">-->
          <div style="margin-bottom: 0.5rem;overflow: scroll">
            <mt-loadmore :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" ref="loadmore">
               <ul>
                   <li class="tableItem" v-for="(item,index) in tableList" :key="index">
                       <div class="table-name" @click="toggle(index)">观测站名称：{{item.name}}</div>
                       <div class="table-content" v-show="showItem===index">
                           <span>管理单位：{{ item.management}}</span>
                           <span>路线名称：{{ item.roadName}}</span>
                           <span>路段：{{ item.segment}}</span>
                           <span>汽车自然数：{{ item.carNatural}}</span>
                           <span>汽车当量数：{{item.carEquivalent}}</span>
                           <span>V/C值：{{ item.vcNumber}}</span>
                           <span>客车比例：{{ item.carRatio}}</span>
                           <span>货车比例：{{ item.vanRatio}}</span>
                           <span>年份：{{ item.year}}</span>

                       </div>
                   </li>
               </ul>
            </mt-loadmore>
        </div>
    <ul class="bottom">
        <li>
            <a href="./index.html">
                <image src="../images/home.png"></image>
                <span>主页</span>
            </a>
        </li>
        <li>
            <a href="#javascript:;">
                <image src="../images/detail.png"></image>
                <span>详情</span>
            </a>
        </li><li>
        <a href="./mine.html">
            <image src="../images/mine.png"></image>
            <span>我的</span>
        </a>
    </li>
    </ul>
    <div class="leftBox" :class="leftBox?'slideRight':(leftBox===false?'slideLeft':'')">
        <mt-header class="sub-header" fixed title="功能选择">
            <router-link to="/" slot="left">
                <mt-button class="back" @click="leftBox=false" ></mt-button>
            </router-link>
        </mt-header>
        <ul class="funcList">
            <li v-for="(item,index) in funcList" :key="index" @click="turnTo(index)">
                <img  src="../images/function.png"/>
                <p>{{item}}</p>
            </li>
        </ul>
    </div>
</div>
<script src="../js/echarts.common.min.js" type="text/javascript"></script>
</body>
</html>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/mint-ui.js" type="text/javascript"></script>
<script src="../js/back.js" type="text/javascript"></script>
<script src="../js/axios.min.js" type="text/javascript"></script>
<script src="../js/config.js" type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            baseUrl: baseUrl,
            pageItem: [
                {
                    icon: '../images/table-icon.png',
                    name: '年度通车里程',

                },
                {
                    icon: '../images/pie-icon.png',
                    name: '基础设施',

                },
                {
                    icon: '../images/star.png',
                    name: '技术状况评定'
                },
                {
                    icon: '../images/food.png',
                    name: '星级服务区'
                },
                {
                    icon: '../images/floor.png',
                    name: '交通流量'
                },
                {
                    icon: '../images/installation.png',
                    name: '重点监控设施'
                },
                {
                    icon: '../images/car.png',
                    name: '交通管制信息'
                },
                {
                    icon: '../images/rmb.png',
                    name: '收费站信息'
                }

            ],
            type: 4,
            show: '',
            xLabel: [],
            value1: [],
            tableList: [],
            dataObj: {},
            management: '',
            roadName: '',
            segment: '',
            year: '',
            pageNum: 1,
            wrapperHeight: 0,
            allLoaded: false,
            showItem: '',
            leftBox: false,
            funcList: ['年度通车里程','基础设施','技术状况评定','星级服务区','观测站交通流量',
                '重点监控设施状态','交通管制信息','收费站年度信息'],
        },

        mounted() {
            this.getData();
            this.getList();
        },
        methods: {
            getData () {
                var _this = this ;
                axios.get(this.baseUrl + '/flow/count').then(function(res) {
                    if (res.data.status === '000000') {
                        _this.dataObj = res.data.data;
                        res.data.data.list.map(function(item,index){
                            _this.value1.push([item.rate,item.sum])
                        });

                        _this.createCharts();

                    } else {
                        MessageBox('提示', res.data.message);
                    }

                });
            },
            getList () {
                var _this = this ;
                axios.post(_this.baseUrl + '/flow/list', {
                    management: _this.management,
                    segment: _this.segment,
                    roadName: _this.roadName,
                    year: _this.year,
                    pageNum: _this.pageNum
                }).then( function(res) {
                    if (res.data.status === '000000') {
                        if(res.data.data.length) {
                            if (_this.pageNum == 1) {
                                _this.tableList = res.data.data;
                            } else {
                                res.data.data.map( function (i) {
                                    _this.tableList.push(i) ;
                                })
                            }
                            _this.pageNum ++ ;
                        }
                    }
                });
            },
            handleSearch () {
                this.pageNum = 1 ;
                this.tableList = [];
                this.getList();
            },
            loadBottom () {
                this.$refs.loadmore.onBottomLoaded();
                this.getList();
                // this.allLoaded = true;

            },
            createCharts () {
                var charts1 = document.getElementById('container');
                charts1.style.width = window.innerWidth+'px';
                var myChart = echarts.init(charts1);
                option = {
                    title: {
                        // show: true,
                        text: '观测站交通流量',
                        top: 'top',
                        left: 'center',
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                            textAlign: 'center',

                        },

                    },
                    legend : { //图标
                        type: '',
                        top: '10%',
                        right: '15%',
                        show : true,
                        itemGap : 2,
                        itemWidth : 20,
                        itemHeight : 10,
                        data : [
                            {
                                name: this.dataObj.year,
                                icon: '',
                                textStyle:{
                                    color: '#fff',
                                }
                            },
                        ]
                    },
                    backgroundColor: '#191970',
                    grid: {
                        left: '3%',
                        right: '20%',
                        bottom: '5%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : this.xAxis1,
                            name: '货车比例',
                            splitLine: {
                                "show": false
                            },
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff',

                            },   // x轴字体颜色
                        }
                    ],
                    yAxis : [
                        {
                            name: '当量交通量（辆/天）',
                            type : 'value',
                            splitLine: {
                                "show": false
                            },
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },
                        },

                    ],
                    series : [
                        {
                            name:this.dataObj.year,
                            type:'scatter',
                            data:this.value1,
                            itemStyle: {
                                normal: {
                                    color: 'rgb(231,233,45)'
                                }
                            },
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'white',
                                    fontSize: 10
                                },
                            }
                        },

                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                window.onresize = function () {
                    charts1.resize()

                }

            },
            turnTo (index){
                window.location.href = './detail'+ index + '.html'
            },
            toggle(index) {
                if (this.showItem === index) {
                    this.showItem = '';
                }
                else {
                    this.showItem = index;
                }
            }
        }
    })
</script>