<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>详情</title>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/mint-ui.css"/>
    <link rel="stylesheet" href="../css/detail.css"/>
    <script src="../js/rem.js" type="text/javascript"></script>

</head>
<body>
<div id="app">
    <mt-header fixed :title="pageItem[type].name">
        <router-link to="/" slot="left">
            <mt-button class="menu-icon" @click="leftBox=true" ></mt-button>
        </router-link>
    </mt-header>
    <div id="container"></div>
    <div class="icon-wrap">
        <image class="icon" :class="show?'rotation':(show=== false?'rotation2':'')" src="../images/warrior.png" @click="showCharts"></image>
    </div>
    <div class="charts-wrap">
        <div id="container1" ></div>
        <div id="container2" ></div>
        <div id="container3" ></div>
        <div id="container4" ></div>
        <div class="table-wrap" :class="show?'slideDown':(show===false?'slideUp':'')">
            <ul class="search">
                <li>
                    <label>管理单位：</label>
                    <select class="select" >
                        <option value="123">123</option>
                    </select>
                </li>
                <li>
                    <label>路线名称：</label>
                    <select class="select">
                        <option value="fff">fff</option>
                    </select>
                </li>
                <li>
                    <label>路段：</label>
                    <select class="select" >
                        <option value="123">123</option>
                    </select>
                </li>
            </ul>
            <table align="center">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>管理单位</th>
                    <th>路线名称</th>
                    <th>路段</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in dataList" :key="index">
                    <th>{{(index+1)*1}}</th>
                    <th>{{ item.comName }}</th>
                    <th>{{ item.routeName }}</th>
                    <th>{{ item.route }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ul class="bottom">
        <li>
            <a href="./index.html">
                <image src="../images/home.png"></image>
                <span>主页</span>
            </a>
        </li>
        <li>
            <a href="#javascript:;">
                <image src="../images/detail.png"></image>
                <span>详情</span>
            </a>
        </li><li>
        <a href="./mine.html">
            <image src="../images/mine.png"></image>
            <span>我的</span>
        </a>
    </li>
    </ul>
    <div class="leftBox" :class="leftBox?'slideRight':(leftBox===false?'slideLeft':'')">
        <mt-header class="sub-header" fixed title="功能选择">
            <router-link to="/" slot="left">
                <mt-button class="back" @click="leftBox=false" ></mt-button>
            </router-link>
        </mt-header>
        <ul class="funcList">
            <li v-for="(item,index) in funcList" :key="index" @click="turnTo(index)">
                <img  src="../images/function.png"/>
                <p>{{item}}</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/mint-ui.js" type="text/javascript"></script>
<script src="../js/echarts.common.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            pageItem: [
                {
                    icon: '../images/table-icon.png',
                    name: '年度通车里程',

                },
                {
                    icon: '../images/pie-icon.png',
                    name: '基础设施',

                },
                {
                    icon: '../images/star.png',
                    name: '技术状况评定'
                },
                {
                    icon: '../images/food.png',
                    name: '星级服务区'
                },
                {
                    icon: '../images/floor.png',
                    name: '交通流量'
                },
                {
                    icon: '../images/installation.png',
                    name: '重点监控设施'
                },
                {
                    icon: '../images/car.png',
                    name: '交通管制信息'
                },
                {
                    icon: '../images/rmb.png',
                    name: '收费站信息'
                }

            ],
            type: 0,
            show: '',
            dataList: [
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                }
            ],
            leftBox: false,
            funcList: ['年度通车里程','基础设施','技术状况评定','星级服务区','观测站交通流量',
            '重点监控设施状态','交通管制信息','收费站年度信息','高精度三维可测实景','应急指挥视频终端']
        },
        mounted() {
             this.type = location.href.split('type=')[1];
             this.turnTo(this.type);

        },
        methods: {
            // 年度通车详情
            createCharts () {
                var dom = document.getElementById("container");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                app.title = '坐标轴刻度与标签对齐';
                option = {
                    title: {
                        // show: true,
                        text: this.pageItem[this.type].name,
                        top: 'top',
                        left: 'center',
                        // textAlign: 'center',
                        textStyle: {
                            fontSize: 16,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                        },

                    },
                    color: ['#1E90FF'],
                    backgroundColor: '#191970',
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '12%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            show: 'false',
                            name: '年份',
                            nameLocation: 'end',
                            type : 'category',
                            data : ['2014', '2015', '2016', '2017', '2018'],
                            splitLine: {
                                "show": false
                            },
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },   // x轴字体颜色


                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name: 'km',
                            nameLocation: 'end',
                            splitLine: {
                                "show": false
                            },
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },

                                },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },


                        },

                    ],
                    series : [
                        {
                            name: '直接访问',
                            type: 'bar',
                            barWidth: '60%',
                            data: [5924.056, 6381.741, 6612.415, 6754.299, 6799.399],
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: 'white',
                                            fontSize: 14
                                        },
                                        color: echarts.graphic.LinearGradient(
                                            0, 0, 0, 1,
                                            [
                                                {offset: 0, color: 'rgba(255,255,255,0)'},
                                                {offset: 0.5, color: '#188df0'},
                                                {offset: 1, color: '#188df0'}
                                            ]

                                            // [
                                            //     {offset: 0, color: '#1afdf0'},
                                            //     // {offset: 0.5, color: '#1f8df0'},
                                            //     {offset: 1, color: '#1834f0'}
                                            // ]
                                        )

                                    }
                                },
                            }
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            },
            // 基础设施
            createBase () {
                var dom = document.getElementById("container");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                app.title = '坐标轴刻度与标签对齐';
                option = {
                    title: {
                        text: '基础设施',
                        textStyle: {
                            fontSize: 16,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                        },
                        // subtext: '虚构数据',
                        left: 'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    color: ['#E5ED26','#33A1B8','#DE99AE','#4DEDE0'],
                    backgroundColor: '#191970',
                    series : [
                        {
                            type: 'pie',
                            radius : '45%',
                            center: ['50%', '50%'],
                            selectedMode: 'single',
                            data:[
                                {
                                    value:129,
                                    name: '还贷中心',
                                    label: {
                                        normal: {
                                            formatter: [
                                                '还贷中心',
                                                '隧道数量：129座',
                                                '比例：45.42%'
                                            ].join('\n'),
                                            // rich: {
                                            //     // abg: {
                                            //     //     backgroundColor: '#333',
                                            //     //     width: '100%',
                                            //     //     align: 'right',
                                            //     //     height: 25,
                                            //     //     borderRadius: [4, 4, 0, 0]
                                            //     // },
                                            //     // hr: {
                                            //     //     borderColor: '#777',
                                            //     //     width: '100%',
                                            //     //     borderWidth: 0.5,
                                            //     //     height: 0
                                            //     // },
                                            //     // value: {
                                            //     //     width: 20,
                                            //     //     padding: [0, 20, 0, 30],
                                            //     //     align: 'left'
                                            //     // },
                                            //     // valueHead: {
                                            //     //     color: '#333',
                                            //     //     width: 20,
                                            //     //     padding: [0, 20, 0, 30],
                                            //     //     align: 'center'
                                            //     // },
                                            //     // rate: {
                                            //     //     width: 40,
                                            //     //     align: 'right',
                                            //     //     padding: [0, 10, 0, 0]
                                            //     // },
                                            //     // rateHead: {
                                            //     //     color: '#333',
                                            //     //     width: 40,
                                            //     //     align: 'center',
                                            //     //     padding: [0, 10, 0, 0]
                                            //     // }
                                            // }
                                        }
                                    }
                                },
                                {
                                    value:121, name: '其他主体',
                                    label: {
                                        normal: {
                                            formatter: [
                                                '其他主体',
                                                '隧道数量：121',
                                                '比例：42.61%'
                                            ].join('\n'),
                                        }
                                    }
                                            },
                                {
                                    value:14, name: '省公路局及省建投',
                                    label: {
                                        normal: {
                                            formatter: [
                                                '省公路局及省建投',
                                                '隧道数量：14座',
                                                '比例：4.93%'
                                            ].join('\n'),
                                        }
                                    }
                                },
                                {value:20, name: '交投集团',
                                    label: {
                                        normal: {
                                            formatter: [
                                                '交投集团',
                                                '涵洞数量：20座',
                                                '比例：7.04%'
                                            ].join('\n'),
                                        }
                                    }}
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            },
            createMoreCharts() {
                var charts1 = document.getElementById('container1');
                var charts2 = document.getElementById('container2');
                var charts3 = document.getElementById('container3');
                var charts4 = document.getElementById('container4');
                var charts = [];
                var myChart = echarts.init(charts1);
                option = {
                    title: {
                        // show: true,
                        text: '还贷中心',
                        top: 'top',
                        left: 'center',
                        x:'center',
                        y: 'top',
                        textAlign: 'center',
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                        },

                    },
                    color: ['#1E90FF'],
                    backgroundColor: '#191970',
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ['1月', '2月', '3月', '4月', '5月', '6月', '7月'],
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },   // x轴字体颜色


                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },

                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },


                        },

                    ],
                    series : [
                        {
                            name:'直接访问',
                            type:'bar',
                            barWidth: '60%',
                            data:[10, 52, 200, 334, 390, 330, 220]
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                myChart.setOption(option);
                charts.push(myChart);
                myChart = echarts.init(charts2);
                option = {
                    title: {
                        // show: true,
                        text: '交投集团',
                        top: 'top',
                        left: 'center',
                        x:'center',
                        y: 'top',
                        textAlign: 'center',
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                        },

                    },
                    color: ['#1E90FF'],
                    backgroundColor: '#191970',
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ['2-22', '2-23', '2-24', '2-25', '2-26', '2-27', '2-28'],
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },   // x轴字体颜色


                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },

                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },


                        },

                    ],
                    series : [
                        {
                            name:'直接访问',
                            type:'bar',
                            barWidth: '60%',
                            data:[10, 52, 200, 334, 390, 330, 220]
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                myChart.setOption(option);
                charts.push(myChart);
                myChart = echarts.init(charts3);
                option = {
                    title: {
                        // show: true,
                        text: '省公路局',
                        top: 'top',
                        left: 'center',
                        x:'center',
                        y: 'top',
                        textAlign: 'center',
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                        },

                    },
                    color: ['#1E90FF'],
                    backgroundColor: '#191970',
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },   // x轴字体颜色


                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },

                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },


                        },

                    ],
                    series : [
                        {
                            name:'直接访问',
                            type:'bar',
                            barWidth: '60%',
                            data:[10, 52, 200, 334, 390, 330, 220]
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                myChart.setOption(option);
                charts.push(myChart);
                myChart = echarts.init(charts4);
                option = {
                    title: {
                        // show: true,
                        text: '其他主体',
                        top: 'top',
                        left: 'center',
                        x:'center',
                        y: 'top',
                        textAlign: 'center',
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                        },

                    },
                    color: ['#1E90FF'],
                    backgroundColor: '#191970',
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },   // x轴字体颜色


                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },

                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },


                        },

                    ],
                    series : [
                        {
                            name:'直接访问',
                            type:'bar',
                            barWidth: '60%',
                            data:[10, 52, 200, 334, 390, 330, 220]
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                myChart.setOption(option);
                charts.push(myChart);
                window.onresize = function () {
                    charts.map(i => {
                        i.resize()
                    })
                }

            },
            showCharts() {
                if(this.show === '') {
                    this.show = true;
                }else {
                    this.show = !this.show;

                }
            },
            // 跳转到对应详情
            turnTo (index) {
                this.leftBox = false;
                this.type = index;
                if (index*1 === 0) {
                    this.createCharts();
                }
                if (index*1 === 1) {
                    this.createBase();
                }
                this.createMoreCharts();

            }
        }
    })
</script>