<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>详情</title>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/mint-ui.css"/>
    <link rel="stylesheet" href="../css/detail.css"/>
    <script src="../js/rem.js" type="text/javascript"></script>

</head>
<body>
<div id="app">
    <mt-header fixed :title="pageItem[type].name">
        <router-link to="/" slot="left">
            <mt-button class="menu-icon" @click="leftBox=true" ></mt-button>
        </router-link>
    </mt-header>
    <div class="charts-wrap mt50" style="margin-bottom: 0;">
        <div id="container" ></div>
    </div>
    <ul class="table2-wrap">
        <div class="table-title">交通流量分析详情</div>
        <ul class="search">
            <li>
                <label>管理单位：</label>
                <select class="select" >
                    <option value="">全部</option>
                    <option value="新郑管理处">新郑管理处</option>
                    <option value="济洛中心">济洛中心</option>
                    <option value="洛阳管理处">洛阳管理处</option>
                    <option value="南阳管理处">南阳管理处</option>
                    <option value="三门峡管理处">三门峡管理处</option>
                    <option value="少洛中心">少洛中心</option>
                    <option value="新济中心">新济中心</option>
                    <option value="航空港管理处">航空港管理处</option>
                </select>
            </li>
            <li>
                <label>路线名称：</label>
                <select class="select">
                    <option value="">
                        <!--<input/>-->
                    </option>
                </select>
            </li>
            <li>
                <label>路段：</label>
                <select class="select" >
                    <option value="">
                        <!--<input />-->
                    </option>
                </select>
            </li>
            <li>
                <label>年份：</label>
                <select class="select" >
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>

                </select>
            </li>
        </ul>
        <li class="tableItem" v-for="(item,index) in tableList" :key="index">
            <div class="table-name" @click="toggle(index)">观测站名称：{{item.name}}</div>
            <div class="table-content" v-show="showItem===index">
                <span>管理单位：{{ item.company}}</span>
                <span>路线名称：{{ item.routeName}}</span>
                <span>路段：{{ item.route}}</span>
                <span>汽车自然数：{{ item.carNum}}</span>
                <span>汽车当量数：{{item.equivalent}}</span>
                <span>V/C值：{{ item.vc}}</span>
                <span>客车比例：{{ item.car}}</span>
                <span>货车比例：{{ item.truck}}</span>
                <span>年份：{{ item.year}}</span>

            </div>
        </li>
    </ul>
    <ul class="bottom">
        <li>
            <a href="./index.html">
                <image src="../images/home.png"></image>
                <span>主页</span>
            </a>
        </li>
        <li>
            <a href="#javascript:;">
                <image src="../images/detail.png"></image>
                <span>详情</span>
            </a>
        </li><li>
        <a href="./mine.html">
            <image src="../images/mine.png"></image>
            <span>我的</span>
        </a>
    </li>
    </ul>
    <div class="leftBox" :class="leftBox?'slideRight':(leftBox===false?'slideLeft':'')">
        <mt-header class="sub-header" fixed title="功能选择">
            <router-link to="/" slot="left">
                <mt-button class="back" @click="leftBox=false" ></mt-button>
            </router-link>
        </mt-header>
        <ul class="funcList">
            <li v-for="(item,index) in funcList" :key="index" @click="turnTo(index)">
                <img  src="../images/function.png"/>
                <p>{{item}}</p>
            </li>
        </ul>
    </div>
</div>
<script src="../js/echarts.common.min.js" type="text/javascript"></script>
</body>
</html>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/mint-ui.js" type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            pageItem: [
                {
                    icon: '../images/table-icon.png',
                    name: '年度通车里程',

                },
                {
                    icon: '../images/pie-icon.png',
                    name: '基础设施',

                },
                {
                    icon: '../images/star.png',
                    name: '技术状况评定'
                },
                {
                    icon: '../images/food.png',
                    name: '星级服务区'
                },
                {
                    icon: '../images/floor.png',
                    name: '交通流量'
                },
                {
                    icon: '../images/installation.png',
                    name: '重点监控设施'
                },
                {
                    icon: '../images/car.png',
                    name: '交通管制信息'
                },
                {
                    icon: '../images/rmb.png',
                    name: '收费站信息'
                }

            ],
            type: 4,
            show: '',
            xLabel: [],
            value1: [[16.9,45057],[17.3,44000],[17.75,99897],[17.88,48479],[18.73,54801],[19.1,52485],[20.06,109357],[20.4,101061],[23.45,101693]],
            dataList: [
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                },
                {
                    comName: '新郑管理处',
                    routeName: '高速',
                    route: '原阳至新庄段'
                }
            ],
            tableList: [
                {
                    name: '新乡-原阳',
                    company:'新郑管理处',
                    routeName:'京港澳高速',
                    route:'新乡至郑州',
                    carNum: 32515,
                    equivalent: 23130,
                    vc: 0.56,
                    car: 0.765,
                    truck: 0.235,
                    year: 2016
                },
                {
                    name: '原阳-原阳互通',
                    company:'新郑管理处',
                    routeName:'京港澳高速',
                    route:'新乡至郑州',
                    carNum: 35691,
                    equivalent: 24245,
                    vc: 0.68,
                    car: 0.715,
                    truck: 0.285,
                    year: 2016
                },
                {
                    name: '原阳互通-郑州互通',
                    company:'新郑管理处',
                    routeName:'京港澳高速',
                    route:'新乡至郑州',
                    carNum: 71355,
                    equivalent: 42561,
                    vc: 1.4,
                    car: 0.616,
                    truck: 0.384,
                    year: 2016
                },
                {
                    name: '郑州互通-新区站',
                    company:'新郑管理处',
                    routeName:'京港澳高速',
                    route:'新乡至郑州',
                    carNum: 75341,
                    equivalent: 51837,
                    vc: 1.02 ,
                    car: 0.718,
                    truck: 0.282,
                    year: 2016
                },
                {
                    name: '郑州新区站-圃田',
                    company:'新郑管理处',
                    routeName:'京港澳高速',
                    route:'新乡至郑州',
                    carNum: 66259,
                    equivalent: 42844,
                    vc: 1.09,
                    car: 0.659,
                    truck: 0.341,
                    year: 2016
                },
                {
                    name: '圃田-京珠绕城互通',
                    company:'新郑管理处',
                    routeName:'京港澳高速',
                    route:'新乡至郑州',
                    carNum: 46552,
                    equivalent: 34292,
                    vc: 1.03,
                    car: 0.770,
                    truck: 0.230,
                    year: 2016
                },
                {
                    name: '京城绕城互通-薛店互通',
                    company:'新郑管理处',
                    routeName:'京港澳高速',
                    route:'新乡至郑州',
                    carNum: 25900,
                    equivalent: 16264,
                    vc: 0.97,
                    car: 0.637,
                    truck: 0.363,
                    year: 2016
                },
                {
                    name: '济焦焦晋互通-济焦焦温',
                    company:'济洛中心',
                    routeName:'长济高速',
                    route:'济源至邵原段',
                    carNum: 14379,
                    equivalent: 20359,
                    vc: 0.7,
                    car: 0.536,
                    truck: 0.107,
                    year: 2016
                },

            ],
            showItem: '',
            leftBox: false,
            funcList: ['年度通车里程','基础设施','技术状况评定','星级服务区','观测站交通流量',
                '重点监控设施状态','交通管制信息','收费站年度信息','高精度三维可测实景','应急指挥视频终端'],
        },
        mounted() {
            this.createCharts();
        },
        watch:{

        },
        methods: {
            createCharts () {
                var charts1 = document.getElementById('container');
                charts1.style.width = window.innerWidth+'px';
                var myChart = echarts.init(charts1);
                option = {
                    title: {
                        // show: true,
                        text: '观测站交通流量',
                        top: 'top',
                        left: 'center',
                        textStyle: {
                            fontSize: 12,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            color: '#CDAD00',
                            textAlign: 'center',

                        },

                    },
                    legend : { //图标
                        type: '',
                        top: '10%',
                        right: '15%',
                        show : true,
                        itemGap : 2,
                        itemWidth : 20,
                        itemHeight : 10,
                        data : [
                            {
                                name: '2017',
                                icon: '',
                                textStyle:{
                                    color: '#fff',
                                }
                            },
                        ]
                    },
                    backgroundColor: '#191970',
                    grid: {
                        left: '3%',
                        right: '20%',
                        bottom: '5%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : this.xAxis1,
                            name: '货车比例',
                            splitLine: {
                                "show": false
                            },
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff',

                            },   // x轴字体颜色
                        }
                    ],
                    yAxis : [
                        {
                            name: '当量交通量（辆/天）',
                            type : 'value',
                            splitLine: {
                                "show": false
                            },
                            axisTick: {
                                alignWithLabel: true,
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLine: {
                                lineStyle:{
                                    color:'#fff'
                                },
                            },
                            axisLabel:{
                                color:'#fff'
                            },
                        },

                    ],
                    series : [
                        {
                            name:'2017',
                            type:'scatter',
                            data:this.value1,
                            itemStyle: {
                                normal: {
                                    color: 'rgb(231,233,45)'
                                }
                            },
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'white',
                                    fontSize: 10
                                },
                            }
                        },

                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                window.onresize = function () {
                    charts1.resize()

                }
            },
            turnTo (index){
                window.location.href = './detail'+ index + '.html'
            },
            toggle(index) {
                if (this.showItem === index) {
                    this.showItem = '';
                }
                else {
                    this.showItem = index;
                }
            }
        }
    })
</script>