<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>详情</title>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/mint-ui.css"/>
    <link rel="stylesheet" href="../css/detail.css"/>
    <script src="../js/rem.js" type="text/javascript"></script>

</head>
<body>
<div id="app">
    <mt-header fixed :title="pageItem[type].name">
        <router-link to="/" slot="left">
            <mt-button class="menu-icon" @click="leftBox=true" ></mt-button>
        </router-link>
    </mt-header>
    <div class="table2-wrap mt50">
        <div class="table-title">收费站详情</div>
        <ul class="search">
            <li>
                <label>管理单位：</label>
                <input @blur="handleSearch" v-model="searchData.management" />

            </li>
            <li>
                <label>路线名称：</label>
                <input @blur="handleSearch" v-model="searchData.roadName"/>
            </li>
            <li>
                <label>路段：</label>
                <input @blur="handleSearch" v-model="searchData.segment"/>
            </li>
            <li>
                <label>收费站名称：</label>
                <input  @blur="handleSearch" v-model="searchData.name"/>
            </li>
        </ul>
        <div  style="margin-bottom: 0.5rem;overflow: scroll">
            <mt-loadmore :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" ref="loadmore">
                <ul>
                    <li class="tableItem" v-for="(item,index) in tableList" :key="index">
                        <div class="table-name" @click="toggle(index)">收费站名称：{{item.name}}</div>
                        <div class="table-content" v-show="showItem===index">
                            <span>路线名称：{{ item.roadName}}</span>
                            <span>路段：{{ item.segment}}</span>
                            <span>管理单位：{{ item.management}}</span>
                            <span>中心桩号：{{item.centreStake}}</span>
                            <span>负责人：{{ item.principal}}</span>
                            <span>进站车辆数：{{ item.traffic}}</span>
                            <span>出站车辆数：{{ item.charge}}</span>
                        </div>
                    </li>
                </ul>
            </mt-loadmore>
        </div>
    </div>
    <ul class="bottom">
        <li>
            <a href="./index.html">
                <image src="../images/home.png"></image>
                <span>主页</span>
            </a>
        </li>
        <li>
            <a href="#javascript:;">
                <image src="../images/detail.png"></image>
                <span>详情</span>
            </a>
        </li><li>
        <a href="./mine.html">
            <image src="../images/mine.png"></image>
            <span>我的</span>
        </a>
    </li>
    </ul>
    <div class="leftBox" :class="leftBox?'slideRight':(leftBox===false?'slideLeft':'')">
        <mt-header class="sub-header" fixed title="功能选择">
            <router-link to="/" slot="left">
                <mt-button class="back" @click="leftBox=false" ></mt-button>
            </router-link>
        </mt-header>
        <mt-loadmore>
        <ul class="funcList">
            <li v-for="(item,index) in funcList" :key="index" @click="turnTo(index)">
                <img  src="../images/function.png"/>
                <p>{{item}}</p>
            </li>
        </ul>
        </mt-loadmore>
    </div>
</div>
<script src="../js/echarts.common.min.js" type="text/javascript"></script>
</body>
</html>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/mint-ui.js" type="text/javascript"></script>
<script src="../js/back.js" type="text/javascript"></script>
<script src="../js/axios.min.js" type="text/javascript"></script>
<script src="../js/config.js" type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            baseUrl: baseUrl,
            pageItem: [
                {
                    icon: '../images/table-icon.png',
                    name: '年度通车里程',

                },
                {
                    icon: '../images/pie-icon.png',
                    name: '基础设施',

                },
                {
                    icon: '../images/star.png',
                    name: '技术状况评定'
                },
                {
                    icon: '../images/food.png',
                    name: '星级服务区'
                },
                {
                    icon: '../images/floor.png',
                    name: '交通流量'
                },
                {
                    icon: '../images/installation.png',
                    name: '重点监控设施'
                },
                {
                    icon: '../images/car.png',
                    name: '交通管制信息'
                },
                {
                    icon: '../images/rmb.png',
                    name: '收费站信息'
                }

            ],
            type: 7,
            show: '',
            searchData:{
                management: '',
                roadName: '',
                segment: '',
                name: '',
                pageNum: 1,
            },
            allLoaded: false,
            tableList: [],
            showItem: '',
            leftBox: false,
            funcList: ['年度通车里程','基础设施','技术状况评定','星级服务区','观测站交通流量',
                '重点监控设施状态','交通管制信息','收费站年度信息'],
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData () {
                var _this = this ;
                axios.post(this.baseUrl + '/tollStation/list',this.searchData).then(function(res) {
                    if (res.data.status === '000000') {
                        if(res.data.data.length) {
                            if (_this.pageNum == 1) {
                                _this.tableList = res.data.data;
                            } else {
                                res.data.data.map( function (i) {
                                    _this.tableList.push(i) ;
                                })
                            }
                            _this.pageNum ++ ;
                        }
                    } else {
                        MessageBox('提示', res.data.message);
                    }
                })
            },
            handleSearch () {
              this.searchData.pageNum = 1;
              this.tableList = [];
              this.getData();
            },
            loadBottom() {
                this.$refs.loadmore.onBottomLoaded();
                // this.allLoaded = true;
                this.getData();
            },
            turnTo (index){
                window.location.href = './detail'+ index + '.html'
            },
            toggle(index) {
                if (this.showItem === index) {
                    this.showItem = '';
                }
                else {
                    this.showItem = index;
                }
            }
        }
    })
</script>