<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>首页</title>
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/mint-ui.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <script src="../js/rem.js" type="text/javascript"></script>

</head>
<body>
    <div id="app">
        <mt-header fixed title="河南省高速公路基础设施管理服务平台"></mt-header>
        <mt-swipe :auto="3000">
            <mt-swipe-item v-for="(item,index) in bannerList">
                <img class="banner" :src="item"/>
            </mt-swipe-item>
            <!--<mt-swipe-item><img class="banner" src=""/></mt-swipe-item>-->
        </mt-swipe>
        <ul class="page-wrap">
            <li v-for="(item,index) in pageItem" :key="index">
                <a :href="'./detail'+  index +'.html'">
                    <image class="icon" :src="item.icon"></image>
                    <span class="page-name">{{item.name}}</span>
                </a>
            </li>
        </ul>
        <div class="info">
            <p>实时信息</p>
            <!--<marquee direction="up" behavior="alternate" scrolldelay="1000" >-->
            <!--</marquee>-->
            <!--<div id="scrollBox">-->
                <!--<ul id="con1">-->
                    <!--<li class="ov1">连霍高速商丘段上行K439+030-K482+100维修施工<li>-->
                    <!--<li class="ov1">K439+030-K482+100维修施工<li>-->
                    <!--<li class="ov1">维修施工连霍高速商丘K439+030-K482+100维修施工连霍高速商丘段上行连霍高速商丘段上行<li>-->

                <!--&lt;!&ndash;<li class="ov1" v-for="(item,index) in infoList">{{item}}</li>&ndash;&gt;-->
                <!--</ul>-->
                <!--<ul id="con2"></ul>-->
            <!--</div>-->
            <div class="marquee_box">
                <ul class="marquee_list" :class="{marquee_top:animate}">
                    <li v-for="(item, index) in infoList" class="ov1">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>
            <ul class="bottom">
                <li>
                    <a href="#javascript:;">
                        <image src="../images/home.png"></image>
                        <span>主页</span>
                    </a>
                </li>
                <li>
                    <a href="./detail0.html">
                        <image src="../images/detail.png"></image>
                        <span>详情</span>
                    </a>
                </li><li>
                <a href="./mine.html">
                    <image src="../images/mine.png"></image>
                    <span>我的</span>
                </a>
            </li>
            </ul>
    </div>
</body>
</html>
<script src="../js/vue.min.js" type="text/javascript"></script>
<script src="../js/mint-ui.js" type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            bannerList: ['../images/1.png','../images/2.png'],
            pageItem: [
                {
                    icon: '../images/table-icon.png',
                    name: '年度通车里程',

                },
                {
                    icon: '../images/pie-icon.png',
                    name: '基础设施',

                },
                {
                    icon: '../images/star.png',
                    name: '技术状况评定'
                },
                {
                    icon: '../images/food.png',
                    name: '星级服务区'
                },
                {
                    icon: '../images/floor.png',
                    name: '交通流量'
                },
                {
                    icon: '../images/installation.png',
                    name: '重点监控设施'
                },
                {
                    icon: '../images/car.png',
                    name: '交通管制信息'
                },
                {
                    icon: '../images/rmb.png',
                    name: '收费站信息'
                }
            ],
            animate: false,
            infoList: [
                '维修施工连霍高速商丘K439','K439维修施工连霍高速商丘K439维修施工连霍高速商丘K439',
                '维修施工连霍高速商丘K439+030-K482+100维修施工'
            ]
        },
        mounted() {
            var dome ,timer;
            setInterval(this.showMarquee,2000);
            // this.handleScroll();
        },
        methods: {
            showMarquee() {
                this.animate = true;
                setTimeout (() => {
                    this.infoList.push (this.infoList[ 0 ]);
                    this.infoList.shift ();
                    this.animate = false;
                }, 500);

            },
            //  handleScroll(){
    //     //获取三个<div>对象
    //      var area =document.getElementById('scrollBox');
    //      var con1 = document.getElementById('con1');
    //      var con2 = document.getElementById('con2');
    //      con2.innerHTML=con1.innerHTML;
    //      function scrollUp(){
    //          if(area.scrollTop>=con1.offsetHeight){
    //              area.scrollTop=0;
    //          }else{
    //              area.scrollTop++
    //          }
    //      }
    //      var time = 50;
    //      var mytimer=setInterval(scrollUp,time);
    //      area.onmouseover=function(){
    //          clearInterval(mytimer);
    //      }
    //      area.onmouseout=function(){
    //          mytimer=setInterval(scrollUp,time);
    //      };
    // },

    //  start2() {
        //     //如果滚动上去的距离，等于任何一个<div>高度，
        //     //则开始下一次滚动
        //     if (this.dome.scrollTop == this.dome.offsetHeight) {
        //         this.dome.scrollTop = 0;
        //     } else {
        //         this.dome.scrollTop++;
        //     }
        //
        //
        // },
    }
    })
</script>