.menu-icon{
    background: url('../images/menu.png') no-repeat center;
    background-size: 50% 50%;
    width: 0.4rem;

}
body{
    background: #191970;
}
.back{
    background: url('../images/left.png') no-repeat center;
    background-size: 50% 50%;
    width: 0.4rem;
}
.mt50{
    margin-top: 0.5rem;
}
.mainCharts{
    height: 2.5rem !important;
    width: 100%;
}
.charts-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
    /*top: 3.4rem;*/
    /*width: 100%;*/
}
.charts-wrap div{
    width: 100%;
    height: 2rem!important;
    padding-bottom: 0.2rem;
}
.charts-wrap div div{
    width: 100% !important;
}

.icon-wrap{
    width: 100%;
    height: 0.4rem;
    position: relative;
    background: #191970;
}
.icon{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(180deg);
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(180deg);}
    to {-webkit-transform: rotate(360deg);}
}
.rotation{
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear ;
    -moz-animation: rotation 1s linear ;
    -webkit-animation: rotation 1s linear ;
    -o-animation: rotation 1s linear ;
}
@-webkit-keyframes rotation2{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(180deg);}
}
.rotation2{
    -webkit-transform: rotate(-180deg);
    animation: rotation2 1s linear ;
    -moz-animation: rotation2 1s linear ;
    -webkit-animation: rotation2 1s linear ;
    -o-animation: rotation2 1s linear ;
}
.table-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    margin-bottom: 0.5rem;
}
.search{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*height: 0.4rem;*/
    padding: 0.05rem 0.07rem 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-bottom: 1px solid #dedede;
}
.search li {
    display: flex;
    flex-direction: row;
    font-size: 0.1rem;
    width: 48%;
    margin-bottom: 0.1rem;
}
.search li label{
    line-height: 0.3rem;
    width: 40%;
}
.search li select{
    width: 60%;
    height: 0.3rem;
    line-height: 0.3rem;
    margin-right:0.03rem;
}
select option{
    width: 100%;
    height: 0.24rem;
}
select option input{
    width: 100%;
    height: 100%;
}
table{
    margin-top: 0.07rem;
    font-size: 0.12rem;
    width: 100%;
    border-collapse: collapse;
}
table,table tr th, table tr td {font-weight: 100; border:1px solid #dedede; }
table tr th, table tr td{
    height: 0.3rem;
}
table tr:nth-child(2n) {
    background: #fff ;
}
table tr:nth-child(2n-1) {
    background: #eee ;
}
table thead tr{
    background: #fff!important;
}
.slideDown{
    transform: translate(0, 3.2rem);
    -webkit-transform: translate(0, 3.2rem);
    transition: 2s all ease;
    -webkit-transition: 2s all ease

}
.slideUp{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transition: 2s all ease;
    -webkit-transition: 2s all ease

}
.leftBox{
    width: 2.5rem;
    position: fixed;
    top:0;
    left: -2.5rem;
    background: #fff;
    z-index: 200;
    height: 100%;
    box-shadow: -0.07rem 0 0.2rem  0.08rem #666 ;
}
.slideRight{
    transform: translate(2.5rem, 0);
    -webkit-transform: translate(2.5rem, 0);
    transition: 1.5s all ease;
    -webkit-transition: 1.5s all ease
}
.slideLeft{
    transform: translate(-2.5rem, 0);
    -webkit-transform: translate(-2.5rem, 0);
    transition: 1.5s all ease;
    -webkit-transition: 1.5s all ease
}
.sub-header{
    width: 2.5rem!important;
}
.funcList{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.funcList li {
    background: #c6e1eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.2rem;
    border-bottom: 1px solid #fff;
    height: 0.4rem;
    line-height: 0.4rem;
    box-sizing: border-box;

}
.funcList li img{
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.2rem
}
.funcList li p {
    font-size: 0.14rem;
}
.table2-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tableItem{
    background: #fefefe;
}
.table-title{
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.15rem;
    font-weight: bold;
    background: #fff;
    border-bottom: 1px solid #dedede;
}
.table-name{
    line-height: 0.5rem;
    padding: 0 0.1rem;
    box-sizing: border-box;
    font-size: 0.14rem;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #dedede;
}
.table-content{
    display: flex;
    flex-direction: column;
    padding: 0 0.3rem;
    border-bottom: 1px solid #dedede;
}
.table-content span{
    line-height: 0.4rem;
    width: 100%;
    font-size: 0.12rem;
}
.baseDetail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.2rem  ;
    /*background: #2f6fad;*/
}
.baseDetail li{
    width: 50%;
    margin-bottom: 0.1rem;
}
.baseDetail li div{
    line-height: 0.2rem;
    text-align: center;
    font-size: 0.14rem;
    color: #26a2ff;
}
.baseDetail li div span{
    color: #4caf50;
}
